

.App_header{
  gap: 20px;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: chartreuse;

}
input{
  font-family: 'JetBrains Mono', monospace;
  color: chartreuse;
  text-align: center;
  width: 220px;
  height: 30px;
  background-color: black;
  font-size: 14pt;
  outline: none;
  font-weight: 800;
  border-radius: 5px;
  margin: 5px;
  border: transparent;
}
input::placeholder{
  color: chartreuse;
}

form{
display: flex;
flex-direction: column;
}